// html {
//   background: #ECE9E6;
//   background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);
// }

body {
  background: #222 !important;
}

custom-shadow {
  background: -webkit-linear-gradient(top, rgba(0,0,0,0.3) 0%, transparent 7px);
}

td > img {
  height: 10%;
}
